<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MyApp1</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MyApp1.styles.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&family=Poppins&display=swap"
      rel="stylesheet"
    />
    <title>Document</title>
  </head>
  <body>
    <header>
      <div class="header">
        <img class="logo" alt="logo" src="./logo.svg" />
        <p class="date">Dagens datum är: 2023-01-20</p>
      </div>
    </header>
    <div class="wrap">
      <div class="toggleBtn">
        <div class="hamburger">
          <span></span>
        </div>
      </div>
      <aside class="sidebar">
        <h3>Menu</h3>
        <nav class="menu">
          <a href="#" class="sidebar-li">Home</a>
          <a href="#" class="sidebar-li">About</a>
          <a href="#" class="sidebar-li">Portfolio</a>
        </nav>
      </aside>
      <div class="main-content">
        <main role="main">
          @RenderBody()
          <h1>Welcome, Human!</h1>
        </main>
      </div>
    </div>
    <div class="footer-container">
      <footer>
        <p>
          Av Dennis Kjellin -
          <a href="mailto:dekj2100@student.miun.se">Kontakta mig via e-post</a>
        </p>
      </footer>
    </div>
<script src="./app.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
  </body>
</html>
