@page
@model MyApp.Namespace.AboutModel
@{
    ViewData["Title"] = "About";
}
 <h1>About this page</h1>
    <p>Jag som skapat denna sida är en 30 årig kille som pluggar sista terminen Webbutveckling på Mittuniversitetet i Sundsvall!</p>
    <p class="mt-2">Just nu ser jag fram emot att få kämpa för att ta examen och påbörja ett nytt kapitel, det känns både extremt nervöst och kul på samma gång!</p>
