@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1>Webbutv .NET</h1>
    <p class="mt-2">Detta är min första applikation med Razor av - <strong>Dennis Kjellin</strong></p>
    <p class="mt-2">Mitt första intryck är att det var smidigt att skapa en applikation via CLI och Visual Studio Code.</p>
    <p class="mt-2">Skapade grund-stylingen i en egen HTML/CSS film som sedan kopierades över till applikationen. Sidebaren har en Hamburger-nav knapp som med JavaScript kod går att integrera med.</p>
</div>
