@page

@model MyApp.Namespace.RazorModel
@{
    ViewData["Title"] = "Razor";
}
<h1>Razor</h1>

<h2 class="mt-3">Information</h2>
<!--current date/time-->
<p class="mt-2"><strong>Datum/klockslag: </strong>: @DateTime.Now</p>
<!--Controll if today is monday or not (using if/else query-->
@if (DateTime.Today.DayOfWeek == DayOfWeek.Monday) {
    <p class="mt-3">Idag 채r det m책ndag!</p>
} else {
    <p class="mt-3">Idag 채r det inte m책ndag!</p>
}



